@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600&display=swap');
*{margin: 0;
padding: 0;}
h, h1, h2, h3, h4, h5{
	font-family: "Dosis";
	font-size: 25px;
	color: antiquewhite;
}
p, p1, p2, p3, p4, p5{
	font-family: "Gontserrat";
	font-size: 12px;
}
body{
	background-image: url("../Hình ảnh/background.jpg");
	background-size: cover;
}
.header{
	width: 100%;
	height: 50px;
/*	background: rgba(132,49,51,1.00)*/
}
.topbar{
	width: 100%;
	height: 50px;
	background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.icons{
	float: right;
	margin: 9px 30px;
}
.icon ul1{
	list-style: none;
}
li1{
	margin: 5px;
}
.Banner{
	float: left;
	margin: 9px 30px;
}
#wrapper{
	width: 1500px;
	height: 300px;
/*	background: grey;*/
	margin: 0 auto;
}
.headermain{
	width: 100%;
	height: 200px;
/*	float: left;*/
}
.logo img{
	width: 30%;
	height: auto;
	margin: 20px 530px;
}
.slogan p{
	width: 100%;
	height: 40px;
	font-family: 'Singapore Sling Condensed';
	font-size: 45px;
	color: antiquewhite;
/*	float: right;*/
	text-align: center;
	text-shadow: -10px 10px 20px #141e30;
}
.menu{
	width: 100%;
	height: 100px;
	background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
	text-align: center;
	margin: 30px auto;
	box-sizing: border-box;
	border-radius: 10px;
	box-shadow: -10px 10px 30px #141e30
}
.menu ul{
	list-style: none;
}
.menu ul li{
	display: inline-block;
	margin: 33px 0px;
}
.menu ul li a{
	text-decoration: none;
	color: antiquewhite;
	font-family: Gontserrat;
	font-weight: lighter;
	font-size: 26px;
	padding: 0px 33px;
	float: left;
}
.link::after {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background: rgba(250,236,215,1.00);
	transition: width .2s;
}
.link:hover::after {
	width: 100%;
	transition: width .2s;
}
#bigcontainer{
	width: 1500px;
	margin: 0 auto;
}
#main1{
	width: 1500px;
	margin: 0 auto;
}
.section1{
	width: 100%;
/*	background: rgba(208,64,67,1.00);*/
}
/*Content 1*/
.content1{
	width: 100%;
	height: 900px;
	display: flex;
	align-items: flex-end;
	background: url("../Hình ảnh/ren-ichimoku-manga-dragon-sakura-hell-girl.jpg");
	background-size: cover;
	box-sizing: border-box;
	border-radius: 10px;
	margin: 20px auto;
	box-shadow: -10px 10px 30px #141e30;
}
.content1 ul a{
	text-decoration: none;
}
.content1 li{
	color: antiquewhite;
}
.content1 ul li h{
	font-size: 50px;
	margin: 0px 30px;
}
.content1 ul li p{
	margin: 0px 30px;
}
.content1 ul{
	list-style: none;
	width: 100%;
	height: 100px;
	background: #141e30;
	opacity: 0.8;
	box-sizing: border-box;
	border-radius: 0px 0px 10px 10px;
}
#container23{
	width: 100%;
	height: 945px;
}
#main2{
	width: 50%;
	height: 750px;
	margin: 0px auto;
	float: left;
}
/*content 2*/
.content2{
	width: 100%;
	height: 450px;
	display: flex;
	align-items: flex-end;
	background: url("../Hình ảnh/Marvel Future Fight 5.jpg");
	background-size: cover;
	box-sizing: border-box;
	border-radius: 10px;
	box-shadow: -10px 10px 30px #141e30;
}
.content2 ul li{
	color: antiquewhite;
	text-decoration: none;
}
.content2 ul li h{
	font-size: 50px;
	margin: 0px 30px;
}
.content2 ul li p{
	margin: 0px 30px;
}
.content2 ul a{
	text-decoration: none;
}
.content2 ul{
	list-style: none;
	width: 100%;
	height: 100px;
	background: #141e30;
	opacity: 0.8;
	box-sizing: border-box;
	border-radius: 0px 0px 10px 10px;
}
/*Content 3*/
.content3{
	width: 100%;
	height: 450px;
	display: flex;
	align-items: flex-end;
	background: url("../Hình ảnh/The Rising Of The Shield Hero.jpg");
	background-size: cover;
	box-sizing: border-box;
	border-radius: 10px;
	margin: 20px 0px;
	box-shadow: -10px 10px 30px #141e30;
	
}
.content3 ul li{
	color: antiquewhite;
}
.content3 ul li h{
	font-size: 50px;
	margin: 0px 30px;
}
.content3 ul li p{
	margin: 0px 30px;
}
.content3 ul a{
	text-decoration: none;
}
.content3 ul{
	list-style: none;
	width: 100%;
	height: 100px;
	background: #141e30;
	opacity: 0.8;
	box-sizing: border-box;
	border-radius: 0px 0px 10px 10px;
}
/*content 4*/
#main4{
	width: 48%;
	height: 900px;
/*	background: rgba(159,30,32,1.00);*/
	margin: 0 auto;
	float: right;
}
.content4{
	width: 100%;
	height: 900px;
	display: flex;
	align-items: flex-end;
	background: url("../Hình ảnh/Marvel Luna Snow.jpg");
	background-size: cover;
	box-sizing: border-box;
	border-radius: 10px;
	box-shadow: -10px 10px 30px #141e30;
}
.content4 ul li{
	color: antiquewhite;
}
.content4 ul li h{
	font-size: 50px;
	margin: 0px 30px;
}
.content4 ul li p{
	margin: 0px 30px;
}
.content4 ul a{
	text-decoration: none;
}
.content4 ul{
	list-style: none;
	width: 100%;
	height: 100px;
	background: #141e30;
	opacity: 0.8;
	box-sizing: border-box;
	border-radius: 0px 0px 10px 10px;
}
/*content 5*/
#main5{
	width: 100%;
	height: 350px;
}
.content5{
	width: 100%;
	height: 350px;
	display: flex;
	align-items: flex-end;
	background-image: url("../Hình ảnh/Mothra.jpg");
	background-size: cover;
	box-sizing: border-box;
	border-radius: 10px;
	box-shadow: -10px 10px 30px #141e30
}
.content5 ul li{
	color: antiquewhite;
}
.content5 ul li h{
	font-size: 50px;
	margin: 0px 30px;
}
.content5 ul li p{
	margin: 0px 30px;
}
.content5 ul a{
	text-decoration: none;
}
.content5 ul{
	list-style: none;
	width: 100%;
	height: 100px;
	background: #141e30;
	opacity: 0.8;
	box-sizing: border-box;
	border-radius: 0px 0px 10px 10px;
}
#footer{
	width: 100%;
	height: 100px;
	background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
	text-align: center;
	float: left;
	margin: 40px 0px 0px 0px;
}
.footer p{
	color: antiquewhite;
	margin: 35px auto;
}








